/.gradle/
build/
g=out/
gen/

gradlew
gradlew.bat

/data/saves/
/data/rsa/
/data/xteas.json
/cfg/

error.log
modulus

first-launch
first-launch-example
/game.yml
/dev-settings.yml
.run/Run Server.run.xml
