/.idea/
/.gradle/
build/
g=out/
gen/

gradlew
gradlew.bat

/data/saves/
/data/rsa/
/data/xteas.json
/cfg/
/plugins/

error.log
modulus

first-launch
first-launch-example
/game/plugins/src/main/kotlin/gg/rsmod/plugins/content/Testing
/game.yml
/dev-settings.yml
/.Notes/
